

.Dashboard {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--Sidebar_Dashboard_Color);   
    border-radius: 8px;
}


.homePageIllustration {
    height: 500px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---- Loader ---- */

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* display: inline-block; */
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
} 


/* ---- Tracks ---- */


section.Tracks_Container, section.Single_Item_Container {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}


.Tracks_Container::-webkit-scrollbar,
.Single_Item_Container::-webkit-scrollbar {
    display: none;
    width: 1vw; 
}

.Tracks_Container::-webkit-scrollbar-thumb {
    background-color: #7775; 
}

.Tracks_Container::-webkit-scrollbar-thumb:hover {
    background-color: #777; 
}
  
.Tracks_Container::-webkit-scrollbar-track {
    background-color: transparent; 
}


article.Header_Rectangle_Container {
    width: 100%;
    height: 340px;
    /* background-image: linear-gradient(to bottom, #132847, #142b4e, #142f56, #15325d, #163665); */
    /* background-image: linear-gradient(to bottom, #4e389a, #513f90, #3d2c78, #352667, #2d2057); */
    background-image: linear-gradient(to bottom, #50399a, #49348c, #422f7e, #3b2a70, #342563, #2e2258, #29204d, #241d42, #1f1b36, #1b182a, #17151e, #121212);
    box-shadow: 5px 0 500px 0 #372868;
    padding: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: flex-end;
}


.Header_Content {
    display: flex;
    align-items: center;
    gap: 25px;
}


.Profile_Image {
    height: 232px;
    width: 232px;
    box-shadow: 0 0 15px #132847;
    object-fit: cover;
}


@media (width < 560px) {
    .Profile_Image {
        display: none;
    }
}


.Song_Titles {
    color: white;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.Song_Titles p:nth-child(2) {
    font-size: 3rem;
}


@media(width < 1200px) {
    .Song_Titles p:nth-child(2) {
        font-size: 2rem;
    }
}


article.Pause_Play_Like_Follow_Container {
    margin-top: 3rem;
    padding: 0 25px;
    display: flex;
    align-items: center;
    gap: 25px;
}



.Pause_play_Btn {
    background-color: transparent;
    outline: none;
    border: none;
}


.Pause_play_Btn :is([name="play"], [name="pause"]) {
    background-color: var(--Green_Color);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 150ms ease-in-out transform;
}


.Pause_play_Btn [name="pause"] {
    display: none !important;
}


.Follow_Liked_Btn {
    transition: 150ms ease-in-out;
}


.Follow {
    display: none;
    background-color: transparent;
    padding: 8px 14px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: inherit;
    font-size: 15px;
    cursor: pointer;
}


.Follow:hover {
    border-color: white;
    transform: scale(1.05);
}


.Follow_Liked_Btn [name="heart"] {
    font-size: 2rem;
    color: var(--Green_Color);
    cursor: pointer;
    transition: 150ms ease-in-out transform;
}


[name="ellipsis-horizontal"] {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    transition: 150ms ease-in-out transform;
    cursor: pointer;
}


:is(
    .Pause_play_Btn :is( [name="play"], [name="pause"]),
    [name="ellipsis-horizontal"],
    .Follow_Liked_Btn [name="heart"]
):hover {
    transform: scale(1.09);

}


article.List_Of_Songs_Container {
    margin-top: 3rem;
    padding: 0 25px;
}


.Header_List_Of_Songs {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    padding: 0 16px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: [first] 30px [second] 6fr [third] 4fr [fourth] 3fr [fifth] minmax(120px, 1fr);
    gap: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


@media(width < 1200px) {
    .Header_List_Of_Songs {
        grid-template-columns: [first] 30px [second] 7fr [third] 5fr [fifth] minmax(80px, 1fr);
    }


    .Header_List_Of_Songs p:nth-child(4) {
        display: none;
    }
}


.Header_List_Of_Songs p:nth-child(5)  {
    text-align: right;
}


.Songs_List {
    width: 100%; 
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}


.Single_Item_Container .Songs_List label[for="See_More"] {
    width: max-content;
    margin-top: 1rem;
    margin-left: 10px;
    color: rgb(100, 100, 214);
    cursor: pointer;
}


.Song {
    width: 100%;
    padding: 10px 16px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: 150ms ease-in-out;
    transition-property: transform, color, background-color;
    display: grid;
    grid-template-columns: [first] 30px [second] 6fr [third] 4fr [fourth] 3fr [fifth] minmax(120px, 1fr);
    align-items: center;
    gap: 10px;
}



@media(width < 1200px) {
    .Song {
        font-size: 14px;
        grid-template-columns: [first] 30px [second] 7fr [third] 5fr [fifth] minmax(80px, 1fr);
    }

    .Fourth_Column {
        display: none;
    }
}


.Song:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255);
    transform: scale(1.01);
}


.Song div, .Song div span, .Song div span p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}


.Song img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}


.Album_Song {
    grid-template-columns: [first] 30px [second] 7fr [third] minmax(80px, 1fr);
}


.Album_Song .Third_Column {
    display: none;
}

.Album_Song img {
    display: none;
}


.Second_Column {
    display: flex;
    align-items: center;
    gap: 15px;
}


.Second_Column span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.Second_Column p:nth-child(1) {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}


.Second_Column p:nth-child(2) {
    font-size: 14px;
}

.Fifth_Column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}



/* 
---- Playlists ----
*/


.Playlists_Container, .Albums_Container {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}


:is(.Playlists_Container, .Albums_Container) h3 {
    margin-left: 15px;
    margin-top: 10px;
}


:is(.Playlists_Container, .Albums_Container)::-webkit-scrollbar {
    display: none;
}


.List_Of_Playlists, .List_Of_Albums {
    width: 100%;
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}


.Playlist_List, .Albums_List {
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: 150ms ease-in-out ;
    transition-property: transform, background-color;
    display: flex;
    gap: 15px;
    align-items: center;    
}


:is(.Playlist_List, .Albums_List):hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}


:is(.Playlist_List, .Albums_List) img {
    height: 72px;
    width: 72px;
    border-radius: 4px;
    object-fit: cover;
}


:is(.Playlist_List, .Albums_List) div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


:is(.Playlist_List, .Albums_List) div p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}


:is(.Playlist_List, .Albums_List) div p:nth-child(2) {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}



/* ---- Artists ---- */


.Artists_Container {
    height: 100%;
    width: 100%;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.Artists_Container::-webkit-scrollbar {
    display: none;
}


.List_Of_Artists {
    width: 100%;
    /* aspect-ratio: 16/9; */
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}


.Artist_List {
    background-color: rgba(90, 90, 90, 0.1);
    padding: 20px 20px 30px 20px;
    list-style: none;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    transition: 200ms ease-in-out background-color;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.Artist_List:hover {
    background-color: rgba(90, 90, 90, 0.5);
}


.Artist_List img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    align-self: center;
    object-fit: cover;
}


.Artist_List div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.Artist_List div p:nth-child(1) {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}   


.Artist_List div p:nth-child(2) {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}


/* ---- Album ---- */