:root {
    --Sidebar_Dashboard_Color: #121212;
    --Darkened_Label_Color: #282828;
    --Black: #191414;
    --Green: #1DB954;
    --white: #fff;
}


/* 
    border-radius : 3,7,8,30,50% 
*/


*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #000;
    font-size: 16px;
    /* font-weight: 600; */
    font-family: sans-serif;
    color: white; 
    overflow-x: hidden;
}


.Main {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 8px;
    display: flex;
    /* cursor: ew-resize; */
    /* display: flex; */
}


