:root {
    --Sidebar_Dashboard_Color: #121212;
    --Darkened_Label_Color: #282828;
    --Black_Color: #191414;
    --Green_Color: #1DB954;
    --White_Color: #fff;
    --Blue_Color: #3e63dd;
    --font-family: 'CircularSp', 'CircularSp-Arab', 'CircularSp-Hebr', 'CircularSp-Cyrl', 'CircularSp-Grek', 'CircularSp-Deva', 'sans-serif';
}


/* 
    border-radius : 3,7,8,30,50% 
*/


*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #000;
    font-size: 16px;
    font-family: sans-serif;
    color: white; 
    overflow-x: hidden;
}


.Main {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    gap: 10px;
}


@media (width < 1000px) {
    .Main {
        height: calc(100vh - 75px);
    }
}


.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #121212;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 30px 0px var(--Blue_Color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.Btn {
    background-color: #3e63dd;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 200ms ease-in-out background-color;
}


.Btn:hover {
    background-color: #5576e4;
}