

.Sidebar {
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media(width < 1000px) {
    .Sidebar {
        display: none;
    } 
}


section.Top_Sidebar {
    background-color: var(--Sidebar_Dashboard_Color);
    /* padding: 20px 20px; */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.Top_Sidebar :is(article, a) {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}


.Home_Svg, .Search_Svg {
    fill: rgba(255, 255, 255, 0.7);
    transition: 200ms ease-in-out fill;
} 


.Top_Sidebar :is(article, a) p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    transition: 200ms ease-in-out color;
}


:is(.Top_Sidebar, .Navbar) :is(article, a):hover :is(.Home_Svg, .Search_Svg, p) {
    fill: rgba(255, 255, 255);
    color: rgba(255, 255, 255);
}



section.Bottom_Sidebar {
    height: 100%;
    background-color: var(--Sidebar_Dashboard_Color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; 
}


.Bottom_Sidebar_Header {
    background-color: var(--Sidebar_Dashboard_Color);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.LibraryTitle_CreateBtn_Container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.LibraryTitle_CreateBtn_Container span:nth-child(1) {
    color: rgb(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    gap: 15px;
}


.Library_Svg {
    fill: rgb(255, 255, 255, 0.7);
}



.User_Library {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.User_Library::-webkit-scrollbar {
    width: 1vw; 
}

.User_Library::-webkit-scrollbar-thumb {
    background-color: #7775; 
    /* background-image:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%); */
    /* border-radius: 4px;  */
}

.User_Library::-webkit-scrollbar-thumb:hover {
    /* background-image:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%); */
    background-color: #777; 
    /* border-radius: 4px;  */
}
  
.User_Library::-webkit-scrollbar-track {
    /* background-color: #5555;  */
    background-color: transparent; 
    /* border-radius: 4px; */
}
 

.User_Saved_Item {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.User_Collections {
    padding: 0 12px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.Collection {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 200ms ease-in-out;
    transition-property: background-color, color;
}


.Collection:hover {
    color: rgba(255, 255, 255);
    background-color: rgb(255,255,255, 0.1);
}

.Collection :first-child{
    height: 20px;
    width: 20px;
}

.Collection p {
    font-size: 14px;
}


/* ---- Navbar ---- */


.Navbar {
    background-color: var(--Sidebar_Dashboard_Color);
    padding: 15px 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}


@media(width < 1000px) {
    .Navbar {
        display: flex;
    }
}   


.Nav_Link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.Nav_Link:hover {
    color: rgba(255, 255, 255);
}


.Navbar :is(.Home_Svg, .Search_Svg, .Library_Svg) {
    height: 26px;
    width: 26px;
}


.Nav_Link p {
    font-size: 12px;
}

